# Import Required Libraries
Import pandas and other necessary libraries for data manipulation and file handling.

In [1]:
# Importing necessary libraries
import pandas as pd  # For data manipulation and analysis
import os  # For file handling

# Read the CSV File
Use pandas to read the CO2_1_raw.csv file into a DataFrame.

In [2]:
# Read the CSV File
file_path = os.path.join("c:/Users/marth/MLProject/ML-Climate-Project/raw-data", "CO2_1_raw.csv")  # Define the file path
data = pd.read_csv(file_path)  # Read the CSV file into a DataFrame
data.head()  # Display the first few rows of the DataFrame to verify the data is loaded correctly

,Year,Country,Avg Temperature (°C),CO2 Emissions (Tons/Capita),Sea Level Rise (mm),Rainfall (mm),Population,Renewable Energy (%),Extreme Weather Events,Forest Area (%)
0,2006,UK,8.9,9.3,3.1,1441,530911230,20.4,14,59.8
1,2019,USA,31.0,4.8,4.2,2407,107364344,49.2,8,31.0
2,2014,France,33.9,2.8,2.2,1241,441101758,33.3,9,35.5
3,2010,Argentina,5.9,1.8,3.2,1892,1069669579,23.7,7,17.7
4,2007,Germany,26.9,5.6,2.4,1743,124079175,12.5,4,17.4

# Process Data to Calculate Averages and Aggregates
Group the data by year, calculate the average global temperature and the aggregate CO2 emissions for each year.

In [4]:
# Group the data by 'Year' and calculate the required metrics
processed_data = data.groupby('Year').agg(
    avg_global_temp=('Avg Temperature (°C)', 'mean'),  # Calculate average global temperature
    total_co2_emissions=('CO2 Emissions (Tons/Capita)', 'sum')  # Calculate aggregate CO2 emissions
).reset_index()

# Save the processed data to a new CSV file
output_file_path = os.path.join("c:/Users/marth/MLProject/ML-Climate-Project/clean-data", "processed_CO2_data.csv")
processed_data.to_csv(output_file_path, index=False)  # Write the processed data to a CSV file

# Display the processed data to verify the results
processed_data.head()  # Display the first few rows of the processed DataFrame

   Year  avg_global_temp  total_co2_emissions
0  2000        20.501887                594.9
1  2001        20.117073                407.1
2  2002        21.433333                506.6
3  2003        18.219512                454.5
4  2004        18.804000                500.0

# Save Processed Data to a New CSV File
Save the processed DataFrame with the calculated columns to a new CSV file.

In [5]:
# Save Processed Data to a New CSV File
output_file_path = os.path.join("c:/Users/marth/MLProject/ML-Climate-Project/clean-data", "processed_CO2_data.csv")
processed_data.to_csv(output_file_path, index=False)  # Write the processed data to a CSV file

# Display the processed data to verify the results
processed_data.head()  # Display the first few rows of the processed DataFrame

   Year  avg_global_temp  total_co2_emissions
0  2000        20.501887                594.9
1  2001        20.117073                407.1
2  2002        21.433333                506.6
3  2003        18.219512                454.5
4  2004        18.804000                500.0