# Import Required Libraries and Modules
* **pandas**: used for data manipulation  
* **DataCleaner**: contains some helpful methods for data manipulation
* **sys**: used for system-specific parameters
* **os**: used for accessing file system paths

In [69]:
import sys
import os

project_root = "/Users/tyler/ML-Climate-Project"
sys.path.append(os.path.abspath(project_root))

import pandas as pd
from data_cleaning.data_cleaner import DataCleaner

# Instantiate an instance of DataCleaner
This reads the data into a pandas data frame.

In [70]:
dc: DataCleaner = DataCleaner(project_root + '/raw-data/Sea_level_1_raw.csv')
dc.preview(10)

,Year,Country,Avg Temperature (°C),CO2 Emissions (Tons/Capita),Sea Level Rise (mm),Rainfall (mm),Population,Renewable Energy (%),Extreme Weather Events,Forest Area (%)
0,2006,UK,8.9,9.3,3.1,1441,530911230,20.4,14,59.8
1,2019,USA,31.0,4.8,4.2,2407,107364344,49.2,8,31.0
2,2014,France,33.9,2.8,2.2,1241,441101758,33.3,9,35.5
3,2010,Argentina,5.9,1.8,3.2,1892,1069669579,23.7,7,17.7
4,2007,Germany,26.9,5.6,2.4,1743,124079175,12.5,4,17.4
5,2020,China,32.3,1.4,2.7,2100,1202028857,49.4,12,47.2
6,2006,Argentina,30.7,11.6,3.9,1755,586706107,41.9,10,50.5
7,2018,South Africa,33.9,6.0,4.5,827,83947380,17.7,1,56.6
8,2022,UK,27.8,16.6,1.5,1966,980305187,8.2,4,43.4
9,2010,Australia,18.3,1.9,3.5,2599,849496137,7.5,5,48.7

# Check for missing values

In [71]:
dc.df.isnull().sum()

Year                           0
Country                        0
Avg Temperature (°C)           0
CO2 Emissions (Tons/Capita)    0
Sea Level Rise (mm)            0
Rainfall (mm)                  0
Population                     0
Renewable Energy (%)           0
Extreme Weather Events         0
Forest Area (%)                0
dtype: int64

# Keep only relevant columns

In [72]:
columns_to_drop = ['CO2 Emissions (Tons/Capita)', 'Population', 'Renewable Energy (%)', 'Extreme Weather Events', 'Forest Area (%)']
dc.drop(columns_to_drop)
dc.sort_column('Year', True)
dc.preview(n=100)

AttributeError: 'DataCleaner' object has no attribute 'sort_column'