# Import Required Libraries and Modules
* **pandas**: used for data manipulation  
* **DataCleaner**: contains some helpful methods for data manipulation
* **sys**: used for system-specific parameters
* **os**: used for accessing file system paths

In [11]:
import sys
import os

project_root = "/Users/tyler/ML-Climate-Project"
sys.path.append(os.path.abspath(project_root))

import pandas as pd
from data_cleaning.data_cleaner import DataCleaner

# Instantiate an instance of DataCleaner
This reads the data into a pandas data frame.

In [12]:
dc: DataCleaner = DataCleaner(project_root + '/raw-data/Sea_level_1_raw.csv')
dc.preview(10)

,Year,Country,Avg Temperature (°C),CO2 Emissions (Tons/Capita),Sea Level Rise (mm),Rainfall (mm),Population,Renewable Energy (%),Extreme Weather Events,Forest Area (%)
0,2006,UK,8.9,9.3,3.1,1441,530911230,20.4,14,59.8
1,2019,USA,31.0,4.8,4.2,2407,107364344,49.2,8,31.0
2,2014,France,33.9,2.8,2.2,1241,441101758,33.3,9,35.5
3,2010,Argentina,5.9,1.8,3.2,1892,1069669579,23.7,7,17.7
4,2007,Germany,26.9,5.6,2.4,1743,124079175,12.5,4,17.4
5,2020,China,32.3,1.4,2.7,2100,1202028857,49.4,12,47.2
6,2006,Argentina,30.7,11.6,3.9,1755,586706107,41.9,10,50.5
7,2018,South Africa,33.9,6.0,4.5,827,83947380,17.7,1,56.6
8,2022,UK,27.8,16.6,1.5,1966,980305187,8.2,4,43.4
9,2010,Australia,18.3,1.9,3.5,2599,849496137,7.5,5,48.7

# Check for missing values

In [13]:
dc.count_missing_values()

Year                           0
Country                        0
Avg Temperature (°C)           0
CO2 Emissions (Tons/Capita)    0
Sea Level Rise (mm)            0
Rainfall (mm)                  0
Population                     0
Renewable Energy (%)           0
Extreme Weather Events         0
Forest Area (%)                0
dtype: int64

# Keep only relevant columns
'CO2 Emissions (Tons/Capita)', 'Population', 'Renewable Energy (%)', 'Extreme Weather Events', 'Forest Area (%)' aren't necessary for regression.

In [14]:
columns_to_drop = ['CO2 Emissions (Tons/Capita)', 'Population', 'Renewable Energy (%)', 'Extreme Weather Events', 'Forest Area (%)']
dc.drop(columns_to_drop)
dc.sort_column('Year')
dc.preview(n=100)

    Year Country  Avg Temperature (°C)  Sea Level Rise (mm)  Rainfall (mm)
0   2000      UK                  21.8                  2.2           1273
1   2000   India                  20.9                  2.6           1100
2   2000  Canada                  22.8                  2.5            720
3   2000  Canada                  16.5                  2.2           2279
4   2000      UK                  22.9                  4.7           1255
..   ...     ...                   ...                  ...            ...
95  2002  Russia                  27.2                  4.8           1729
96  2002  Canada                  21.7                  3.0           1831
97  2002  Russia                  23.1                  4.7           1484
98  2002  France                   9.4                  3.7           2202
99  2002   India                  17.6                  4.5           1851

[100 rows x 5 columns]

# Aggregate the data
Group the data by Year and Country and calculate the mean for each group.

In [15]:
dc.aggregate_data(['Year', 'Country'], 'mean')
dc.preview(50)

                   Avg Temperature (°C)  Sea Level Rise (mm)  Rainfall (mm)
Year Country
2000 Argentina                16.900000             4.000000    2047.000000
     Australia                11.933333             2.266667    2033.333333
     Brazil                   31.200000             3.700000     803.000000
     Canada                   19.300000             2.650000    1383.000000
     China                    26.200000             2.200000    1849.000000
     France                   16.600000             2.800000    1819.666667
     Germany                   9.750000             1.450000    2641.000000
     India                    21.250000             3.250000    1124.500000
     Indonesia                23.585714             3.242857    1781.428571
     Mexico                   16.900000             1.200000    1974.500000
     Russia                   11.000000             4.900000     849.000000
     South Africa             26.114286             2.971429    2189.857143
     UK                       23.187500             3.562500    1259.250000
     USA                      15.440000             2.680000    1762.600000
2001 Argentina                21.975000             3.175000    2306.250000
     Australia                18.900000             3.450000    1666.000000
     Brazil                   17.150000             3.450000    1492.000000
     Canada                   21.250000             3.650000    1496.000000
     China                    27.400000             3.900000    2416.000000
     France                   27.000000             4.400000    2989.000000
     Germany                  21.566667             4.066667    1907.333333
     India                    15.050000             3.450000    1554.500000
     Indonesia                18.700000             3.366667    1852.000000
     Japan                    26.650000             3.550000    1192.500000
     Mexico                   13.940000             2.400000    1989.000000
     Russia                   26.650000             3.900000    1273.000000
     South Africa             21.725000             2.550000    1502.500000
     UK                       16.150000             2.500000    1264.750000
     USA                      24.500000             3.600000    2041.000000
2002 Argentina                20.950000             2.100000    1190.500000
     Australia                23.025000             2.900000    1804.250000
     Brazil                   14.266667             3.000000    2127.000000
     Canada                   22.600000             2.900000    2018.875000
     France                   23.533333             3.666667    2496.000000
     Germany                  15.800000             1.800000    2159.000000
     India                    21.783333             3.433333    1778.333333
     Indonesia                19.300000             3.025000    1175.000000
     Japan                    26.500000             2.700000    2462.666667
     Mexico                   11.700000             2.200000    2895.000000
     Russia                   24.600000             3.012500    1899.750000
     South Africa             30.800000             3.050000    2375.000000
     UK                       19.800000             2.600000    1510.000000
     USA                      12.066667             3.200000    1936.333333
2003 Argentina                10.000000             1.300000     626.000000
     Australia                22.400000             3.200000    2330.000000
     Brazil                   17.450000             3.300000    1616.000000
     Canada                   11.600000             1.900000    2798.000000
     China                    22.020000             2.660000    2360.600000
     France                   18.766667             3.666667    1045.333333
     Germany                  30.500000             3.000000    2871.000000

# Save cleaned data to new file

In [ ]:
output_path = project_root + '/clean-data/processed_Sea_level_1_data.csv'
dc.save_data(output_path)

Data successfully saved to /Users/tyler/ML-Climate-Project/clean-data/processed_Sea_level_1_data.csv